body {
  margin: 0;
}

.map {
  $map-height: 500px;
  $map-width: 600px;
  &__container {
    @media only screen and (max-width: 400px) {
      height: 333px;
      width: $map-width - 200px;
    }

    @media only screen and (max-width: 300px) {
      height: 250px;
      width: $map-width - 300px;
    }
    height: 500px;
    width: $map-width;
  }

  &__overlay {
    background: rgba(255, 255, 255, .8);
    border-radius: 3px;
    bottom: 0;
    font-family: Arial, sans-serif;
    overflow: auto;
    position: absolute;
    right: 0;
    z-index: 10;
  }

  &__title {
    @media only screen and (max-width: 400px) {
      font-size: 1rem;
      height: 1.75rem;
      width: 12.75rem;
    }
    font-family: 'skolar-sans-latin', Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    left: 8px;
    max-height: 3rem;
    max-width: 18.75rem;
    overflow: auto;
    padding: .5rem;
    top: 8px;
  }

  &__legend {
    $legend-height: 168px;
    $legend-width: 160px;
    height: $legend-height + 10px;
    left: $map-width - $legend-width - 16px;
    margin: .5rem;
    top: 160px;
    width: $legend-width;
    @media only screen and (max-width: 400px) {
      left: 0;
      top: 333px;
    }

    @media only screen and (max-width: 300px) {
      top: 250px;
    }
  }
}

.graph {
  @media only screen and (max-width: 899px) {
    width: 800px;
  }
  @media only screen and (max-width: 799px) {
    width: 700px;
  }
  @media only screen and (max-width: 699px) {
    width: 600px;
  }
  @media only screen and (max-width: 599px) {
    width: 500px;
  }
  @media only screen and (max-width: 499px) {
    width: 400px;
  }
  @media only screen and (max-width: 399px) {
    width: 300px;
  }
  &__title {
    font-family: 'skolar-sans-latin';
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
  }

  &__subtitle {
    font-family: 'skolar-sans-latin';
    font-size: 1rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
  }
}

.tooltip {
  background: #fff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .24);
  padding: 12px;
  pointer-events: none;
  position: absolute;

  &__title {
    font-family: 'Montserrat';
    font-size: .75rem;
    font-weight: 800;
    margin: 0;
  }

  &__text {
    font-family: 'Montserrat';
    font-size: .75rem;
    font-weight: 300;
    margin: 0;
  }
}

.xaxis__label,
.yaxis__label {
  font-family: 'Montserrat';
  font-size: .75rem;
}

.legend {
  background: rgba(255, 255, 255, .9);
  margin: .5rem;

  &__item {
    font-family: 'Montserrat';
    font-size: .75rem;
    font-weight: 300;
  }

  &__label {
    font-family: 'Montserrat';
    font-size: .75rem;
    font-weight: 300;
    margin: 0;
  }
}

.mapboxgl-popup {
  z-index: 20;
}
